* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #CFF;
    --black: #000;
    --white: #FFF;
    --blue: #66F;
    --dark-blue: #33f;
    --red: #F33;
    --orange: #F93;
    --green: #090;
}

.dark {
    --background-color: #b6b3b3;
    --black: #EEE;              
    --white: #7c7474;              
    --dark-blue: #515c7e;       

}

body {
    height: 100vh;
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
}